@import url("https://use.typekit.net/shp0tlv.css");

body {
  background-image: url("../../images/Emotify-BG.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10em;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#title {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 115px;
  margin: -50px auto auto auto;
}

#slogan {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  margin: -3px auto 1em auto;
  color: #ee8122;
  width: 375px;
}

#additional-info {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  margin-top: 115px;
  margin-bottom: -175px;
}
