@import url("https://use.typekit.net/shp0tlv.css");

body {
  background-image: url("../../images/Emotify-BG.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 8em;
}

.home {
  text-align: center;
}

#title {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 115px;
  margin: auto;
}

#slogan {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  margin: -3px auto 1em auto;
  color: #ee8122;
  width: 375px;
}
