@import url("https://use.typekit.net/shp0tlv.css");

#searchbar {
  background-color: white;
  color: #3e4047;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  flex: 1;
  border-radius: 30px;
  border-style: none;
  padding: 15px;
  outline: none;
  height: 100px;
  resize: none;
  text-align: justify;
}

#searchbar:hover {
  box-shadow: 0 0 10px black inset;
  transition: box-shadow 0.4s ease-in-out;
}

#searchbar:focus {
  box-shadow: none;
}

.spinner {
  margin: 0 auto;
  padding: 33px;
}

#searchbar-container {
  display: flex;
  width: 85%;
  margin: auto;
  flex-direction: column;
  min-height: 170px;
}

#user-checkbox-container {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.user-checkbox {
  margin: 15px 15px 15px 8px;
  cursor: pointer;
  outline: none;
}

#dummy-user-checkbox-container {
  visibility: hidden;
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
